#chat
  .title.row
    .large-12.columns
      %h1 Chat
  .messages.row
    #messages.large-12.columns
  .input.row
    = form_for @message, remote: true do |f|
      .large-4.columns
        = f.text_field :author, value: session[:author]
      .large-8.columns
        = f.text_field :body
