{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "rules": {
      "semi": ["off", "never"],
      "eqeqeq": ["error", "always"]
    },
    "globals": {
      "window": true,
      "document": true,
      "require": true
    }
}
