---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/shorten?access_token=33dc3b8a187907eaf5643592a173ca36d910ac90&history=1&longUrl=https://www.eventbrite.com/e/brotherly-three-tickets-17253112524
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{ "status_code": 200, "status_txt": "OK", "data": { "long_url": "https:\/\/www.eventbrite.com\/e\/brotherly-three-tickets-17253112524",
        "url": "http:\/\/bit.ly\/1H1Komg", "hash": "1H1Komg", "global_hash": "1H1Komh",
        "new_hash": 0 } }

'
  recorded_at: Sun, 22 May 2016 19:13:00 GMT
recorded_with: VCR 3.0.3
