---
http_interactions:
- request:
    method: post
    uri: https://elastictranscoder.us-east-1.amazonaws.com/2012-09-25/jobs
    body:
      encoding: UTF-8
      string: '{"PipelineId":"1464279176808-397ul7","Input":{"Key":"store/be7d09b6045c20c7c1bfdd6c6f4e97cd"},"Outputs":[{"Key":"400k","PresetId":"1351620000001-200050","SegmentDuration":"2"},{"Key":"600k","PresetId":"1351620000001-200040","SegmentDuration":"2"},{"Key":"1000k","PresetId":"1351620000001-200030","SegmentDuration":"2"},{"Key":"1500k","PresetId":"1351620000001-200020","SegmentDuration":"2"},{"Key":"2000k","PresetId":"1351620000001-200010","SegmentDuration":"2"}],"OutputKeyPrefix":"episodes/be7d09b6045c20c7c1bfdd6c6f4e97cd","Playlists":[{"Name":"brother-ly-three","Format":"HLSv3","OutputKeys":["400k","600k","1000k","1500k","2000k"]}]}'
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20160723T003407Z
      X-Amz-Content-Sha256:
      - 7c84a8fb922f9d041ee222a5cfa1972edd514402f1269225a06e1edf24f824f7
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAI57VQFC5DHAJXT5Q/20160723/us-east-1/elastictranscoder/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=7564edc3e658f3881687f70b43d0917d48f9e27d1602bed6ccc94c8c89962d30
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Amzn-Requestid:
      - 2ab82f9f-506d-11e6-aaeb-5b19f0403412
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Job":{"Arn":"arn:aws:elastictranscoder:us-east-1:353425564027:job/1469234048003-0nkrw1","Id":"1469234048003-0nkrw1","Input":{"AspectRatio":null,"Container":null,"DetectedProperties":null,"Encryption":null,"FrameRate":null,"Interlaced":null,"Key":"store/be7d09b6045c20c7c1bfdd6c6f4e97cd","Resolution":null},"Output":{"AlbumArt":null,"AppliedColorSpaceConversion":null,"Captions":null,"Composition":null,"Duration":null,"DurationMillis":null,"Encryption":null,"FileSize":null,"FrameRate":null,"Height":null,"Id":"1","Key":"400k","PresetId":"1351620000001-200050","Rotate":null,"SegmentDuration":"2.0","Status":"Submitted","StatusDetail":null,"ThumbnailEncryption":null,"ThumbnailPattern":null,"Watermarks":[],"Width":null},"OutputKeyPrefix":"episodes/be7d09b6045c20c7c1bfdd6c6f4e97cd","Outputs":[{"AlbumArt":null,"AppliedColorSpaceConversion":null,"Captions":null,"Composition":null,"Duration":null,"DurationMillis":null,"Encryption":null,"FileSize":null,"FrameRate":null,"Height":null,"Id":"1","Key":"400k","PresetId":"1351620000001-200050","Rotate":null,"SegmentDuration":"2.0","Status":"Submitted","StatusDetail":null,"ThumbnailEncryption":null,"ThumbnailPattern":null,"Watermarks":[],"Width":null},{"AlbumArt":nul[...]
