---
http_interactions:
- request:
    method: post
    uri: https://elastictranscoder.us-east-1.amazonaws.com/2012-09-25/jobs
    body:
      encoding: UTF-8
      string: '{"PipelineId":"1464279176808-397ul7","Input":{"Key":"store/#[Double
        (anonymous)]"},"Outputs":[{"Key":"400k","PresetId":"1351620000001-200050","SegmentDuration":"2"},{"Key":"600k","PresetId":"1351620000001-200040","SegmentDuration":"2"},{"Key":"1000k","PresetId":"1351620000001-200030","SegmentDuration":"2"},{"Key":"1500k","PresetId":"1351620000001-200020","SegmentDuration":"2"},{"Key":"2000k","PresetId":"1351620000001-200010","SegmentDuration":"2"}],"OutputKeyPrefix":"episodes/#[Double
        (anonymous)]","Playlists":[{"Name":"brother-ly-three","Format":"HLSv3","OutputKeys":["400k","600k","1000k","1500k","2000k"]}]}'
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20160723T001226Z
      X-Amz-Content-Sha256:
      - a16455ed1df37e9a853b05cdd41d4e2c0d8e58243d3adbd84ed53c25cdf4f392
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAI57VQFC5DHAJXT5Q/20160723/us-east-1/elastictranscoder/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=900a6555200b8b0c700b8589cd51c8859236444154644403043693e82b36a651
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Amzn-Requestid:
      - 233a7d87-506a-11e6-8319-737cfa4d5afb
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Job":{"Arn":"arn:aws:elastictranscoder:us-east-1:353425564027:job/1469232746936-ccbia6","Id":"1469232746936-ccbia6","Input":{"AspectRatio":null,"Container":null,"DetectedProperties":null,"Encryption":null,"FrameRate":null,"Interlaced":null,"Key":"store/#[Double
        (anonymous)]","Resolution":null},"Output":{"AlbumArt":null,"AppliedColorSpaceConversion":null,"Captions":null,"Composition":null,"Duration":null,"DurationMillis":null,"Encryption":null,"FileSize":null,"FrameRate":null,"Height":null,"Id":"1","Key":"400k","PresetId":"1351620000001-200050","Rotate":null,"SegmentDuration":"2.0","Status":"Submitted","StatusDetail":null,"ThumbnailEncryption":null,"ThumbnailPattern":null,"Watermarks":[],"Width":null},"OutputKeyPrefix":"episodes/#[Double
        (anonymous)]","Outputs":[{"AlbumArt":null,"AppliedColorSpaceConversion":null,"Captions":null,"Composition":null,"Duration":null,"DurationMillis":null,"Encryption":null,"FileSize":null,"FrameRate":null,"Height":null,"Id":"1","Key":"400k","PresetId":"1351620000001-200050","Rotate":null,"SegmentDuration":"2.0","Status":"Submitted","StatusDetail":null,"ThumbnailEncryption":null,"ThumbnailPattern":null,"Watermarks":[],"Width":null},{"AlbumArt":null,"[...]
