.title.row
  .large-12.columns
    %h2= model.title
.details.row
  .large-12.columns
    %dl
      - model.fields.each do |field|
        %dt= t field, scope: '.', suffix: ':'
        %dd= item.public_send field
