@font-face {
  font-family: 'Montserrat-Black';
  src: font-url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),  font-url('Montserrat-Black.otf')  format('opentype'),
	     font-url('Montserrat-Black.woff') format('woff'), font-url('Montserrat-Black.ttf')  format('truetype'), font-url('Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: font-url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  font-url('Montserrat-Bold.otf')  format('opentype'),
	     font-url('Montserrat-Bold.woff') format('woff'), font-url('Montserrat-Bold.ttf')  format('truetype'), font-url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
