.filmstrip {
  @include outer-container;
}

  .filmstrip__frame {
    @include span-columns(3);
    text-align: center;
    transition: background-color 250ms $base-timing;

    &:hover {
      background: lighten($black, 15%);
    }
  }
