.hero-wrapper {
  position: relative;
  min-height: 600px;
  
  .attachment{
  border:1px solid $eggshell;
  padding:2px;
  }

  @media screen and (max-width: 420px) {
    min-height: 400px;
  }

  @media screen and (max-width: 360px) {
    min-height: 200px;
  }
}

