// overrides for slick-slider
.slick-slide {
  height: initial;

  img {
    margin: 0 auto;
  }
}

  .slick-slider {
    margin-bottom: 0;
  }

  .slick-arrow {
    z-index: 99;
  }

  .slick-prev {
    padding-left: 30px;
  }

  .slick-next {
    padding-right: 49px;
  }
