- cache episode do
  .episode-summary
    = link_to episode, title: episode.title, class: 'row' do
      .preview.large-6.columns
        = image_tag episode.flyer, alt: episode.name
      .info.large-6.columns
        %h5
          = episode.title
        %ul
          - episode.artists.each do |artist|
            %li= artist.name
