html.turbolinks-progress-bar::before {
  background-color: $primary-color !important;
}

#admin {
  .notice {
    @extend .success
  }

  table {
    width: 100%;

    .empty {
      h4 {
        text-align: center;
        color: $jet;
        font-style: italic;
      }
    }

    .controls {
      width: 150px;
    }
  }

  main {
    &.disabled {
      * {
        transition: opacity 0.5s ease-in-out;
      }
    }
  }
}
