- @search.results.each do |result|
  - if result.is_a? Performance
    %li= link_to result.decorate.title, result.episode
  - else
    %li= link_to result.decorate.title, result
- unless @search.results.any?
  %li
    %label= t :empty, scope: :search
