.episode {
  @include outer-container;
}

  .episode__links {
    background: $black;
    margin-top: 15px;
    padding: 5px;
    font-size: 1.2rem;

    .filmstrip {
      text-align: center;
    }
  }

  .episode__chat {}
  .episode__description {}
