.episode {
  @include outer-container;
}

  .episode__video {
    video {
      margin: 0 auto;
    }

    .youtube-video-wrapper {
      position: relative;
      min-height: 600px;

      @media screen and (max-width: 420px) {
        min-height: 400px;
      }

      @media screen and (max-width: 360px) {
        min-height: 200px;
      }
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .episode__filmstrip {
    background: $black;
    margin-top: 15px;
    padding: 5px;
  }

  .episode__description {
  }
