.episodes {
  @include outer-container;
}

.episodes__title {
}

.episodes__summary {
  @include span-columns(3);

  padding-bottom: 7px;
  text-align: center;
}

.episodes__none {
  text-align: center;
}
