$sidebar-tiles: 5;
$main-tiles: 7;

.top-bar {
  @include outer-container;
  background: image-url('background-pattern.jpeg') 0 3px;
  clear: both;

  div {
    display: inline;
    margin: 0;
    padding: 0;
  }
}

.skyline {
  margin-top: 1px;
}

.top-bar__logo {
  float: left;
}

.top-bar__links {
  float: right;

  img {
    @media screen and (max-width: 920px) {
      display: none;
    }
  }

  nav {
    border-bottom: 4px solid $white;
    bottom: 5px;
    display: flex;
    position: relative;

    @media screen and (max-width: 920px) {
      border-bottom: 0;
    }
  }

  a {
    flex: 1;
    font-family: Georgia, Times, serif;
    text-align: center;

    @media screen and (max-width: 920px) {
      padding: 0 34px;
    }
  }
}
