.video {
  @include outer-container;
}

  .video__player {
    video {
      margin: 0 auto;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .video__links {
    background: $black;
    margin-top: 15px;
    padding: 5px;
    font-size: 1.2rem;

    .filmstrip {
      text-align: center;
    }
  }

  .video__filmstrip {
    background: $black;
    margin-top: 15px;
    padding: 5px;
  }

  .video__description {
  }
