    iframe {
      height: 100%;
      width: 100%;
    }

.video {
  @include outer-container;
  margin: 0;
  max-width: 100%;
}

  .video__player {
    video {
      margin: 0 auto;
      width: 100%;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .video__links {
    background: $black;
    margin-top: 15px;
    padding: 5px;
    font-size: 1.2rem;

    .filmstrip {
      text-align: center;
    }
  }

  .video__filmstrip {
    margin-top: 15px;
    padding: 5px;
  }

  .video__description {
    padding: 0 2%;

    h3 {
      margin-left: -2%;
    }
  }
