.artists {
  &.show {
    .info.row {
      background: $jet;
      padding: 20px;
    }
  }

  .links {
    list-style-type: none;

    .button {
      width: 200px;
    }
  }
}

.performances {
  background: $jet;
  margin: 0 auto;

  ul {
    list-style-type: none;

    li {
      padding: 10px 0;
      // width: 350px;
    }
  }
}
