

#episodes {
  &.index {
    .episode-summary {
      background: $jet;

      .info {
        li {
          font-size: 0.8rem;
          color: $aluminum;
        }
      }
      time {
        font-size: 0.8rem;
      }
    }
  }

  .video {
    padding-bottom: 10px;
  }

  &.current, &.show {
    .info {
      background: $jet;
    }
    .info {
      padding: 10px;
    }
  }

  .actions {
    padding-top: 2px;
  }

  .artists, .performances {
    margin: 0 auto;
    background: $jet;

    ul {
      list-style-type: none;

      li {
        padding: 10px 0;
        // width: 350px;
      }
    }
  }
}
