.episode-summary {
  .info {
    p {
      font-size: 0.8rem;
    }
  }
  time {
    font-size: 0.8rem;
  }
}

.episode {
  .performances {
    ul {
      list-style-type: none;
    }
  }
}

#episodes {
  &.current {
    .episode {
      .name, .description {
        background: $jet
      }
    }
  }
}
