.current-episode {
  .current-episode__video {
    margin: 0 auto;
    width: 80%;
  }
  .current-episode__past-episodes {
  }
  .current-episode__description {
  }
}

.filmstrip {
  @include outer-container;

  %episode-thumbnail {
    text-decoration: none;
  }

  .filmstrip__episode {
    @include span-columns(3);
    @extend %episode-thumbnail;
  }

  .filmstrip__episode-active {
    @extend %episode-thumbnail;
    border: 1px solid white;
  }
}
