.current-episode {
  @include outer-container;
}

  .current-episode__video {
    video {
      margin: 0 auto;
    }
  }

  .current-episode__filmstrip {
    background: $black;
    margin-top: 15px;
    padding: 5px;
  }

  .current-episode__description {
  }

.filmstrip {
  @include outer-container;
}

  .filmstrip__episode {
    @include span-columns(3);
  }

  .filmstrip__episode-active {
    border: 1px solid $white;
  }
