$sidebar-tiles: 5;
$main-tiles: 7;

.top-bar {
  @include outer-container;
}

.top-bar__spacer {
  background: image-url('background-pattern.jpg');
}

.top-bar__logo {
  @include span-columns($sidebar-tiles);
}

.top-bar__links {
  @include span-columns($main-tiles);

  nav {
    display: flex;
  }

  a {
    flex: 1;
    text-align: center;
    font-family: Georgia, Times, serif;
  }
}

.underbar {
  @include outer-container;
}

  h2.underbar__slogan {
    //@include span-columns($sidebar-tiles);
    font-size: .9em;
  }

  .underbar__flash {
    @include span-columns($main-tiles);
  }
