body {
  background-size: 198% auto;
}

.top-bar {
  .name {
    position: relative;
    top: 5px;

    .logo {
      font-size: 32px;
      font-weight: 900;
    }
  }
}

.search-form {
  .input {
    height: 75px;
  }

  input {
    background: $black;
    border: 0;
    color: $smoke;

    &::-webkit-input-placeholder {
      color: $aluminum;
    }
  }
}

@mixin navigation-item {
  padding: 10px 5px;

  .dropdown {
    background: $jet;
    margin-top: 42px;
  }

  a:not(.button) {
    line-height: 35px;
  }
}

.links {
  margin-right: 15px;

  .nav-item.active:not(.has-form) {
    @include navigation-item;
  }

  .nav-item:not(.has-form) {
    @include navigation-item;
  }

  .nav-link {
    border: $vapor 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
    color: $vapor;
    display: inline-block;
    float: right;
    font-size: 12px;
    height: 38px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all ease .3s;
    white-space: nowrap;

    &:hover {
      border-color: $nav-link-hover-border-color;
      color: $nav-link-hover-color;
    }
  }
}

.search {
  input {
    background: transparent;
    border: $vapor 1px solid;
    border-radius: 3px;
    color: $vapor;
    font-size: 18px;
    padding: 19px;
    width: 500px;

    &:focus {
      background: $jet;
      color: $aluminum;
    }
  }
}

main {
  margin-bottom: 25px;
}

footer {
  background: $footer-bg;
  color: $jet;
  height: 36%;
  min-height: 25%;
  opacity: .5;

  a {
    color: $white;
  }

  h3 {
    color: $jet;
  }

  .copyright {
    p {
      padding-top: 13px;
    }
  }
}

.dialog {
  background: $jet;

  label {
    color: $white;
  }
}
