.users {
  .content {
    background: $jet;
    padding: 15px;
  }
}

.user-login {
  input {
    background: $oil;
    border-color: darken($vapor, 20%);
    color: $vapor;
  }

  label {
    color: $white;
    font-size: rem-calc(18);
  }
}
