/ HTTP
meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1.0"
/ SEO
meta name="description" content="#{meta_description}"
meta name="keywords" content="#{meta_keywords}"
/ Twitter
meta name="twitter:card" content="#{twitter_card}"
meta name="twitter:site" content="@brotherlyparty"
meta name="twitter:creator" content="@brotherlyparty"
meta name="twitter:title" content="#{meta_title}"
meta name="twitter:description" content="#{meta_description}"
meta name="twitter:image" content="#{meta_share_image}"
/ Open Graph
meta property="og:title" name="og:title" content="#{meta_title}"
meta property="og:type" name="og:type" content="#{open_graph_type}"
meta property="og:image" name="og:image" content="#{meta_share_image}"
meta property="og:url" name="og:url" content="#{request.original_url}"
meta property="og:description" name="og:description" content="#{meta_description}"
meta property="fb:admins" content="#{Rails.application.secrets.facebook_admin_id}"
meta property="fb:app_id" content="#{Rails.application.secrets.facebook_app_id}"
/ Custom
= yield :metadata
/ Rails
= csrf_meta_tags
