video#player.video-js.vjs-sublime-skin.vjs-16-9 width="640" height="264" controls="controls" preload="auto" poster="#{poster}"
  source src="#{src}" type="application/x-mpegURL"
/ = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/video.js/5.11.0/video.min.js'
