- if src.present?
  video.video-player.video-js.vjs-sublime-skin.vjs-16-9 width="640" height="264" controls="controls" preload="auto" poster=poster id=name.parameterize data-controller="video" data-video-src=src data-video-type="application/x-mpegURL"
