<article id="dialog">
  <header>
    <h1><%= title %></h1>
    <nav>
      <button href="#" class="close">&times;</a>
    </nav>
  </header>
  <main>
    <%= content %>
  </main>
  <footer>
    <p>Click the 'X' to close this dialog.</p>
  </footer>
</article>
<div class="dialog-shadow">
  <!-- Shadows the rest of the page -->
</div>
