.performance-summary.row
  = link_to performance do
    .large-8.columns
      = image_tag performance.preview_image.url
    .large-4.columns
      %p.name= performance.artist.name
      %p.duration Duration: #{performance.duration}
