.performance-summary.row
  = link_to performance do
    .large-8.columns
      = performance.artist.image
    .large-4.columns
      %p.name= performance.artist.name
      %p.duration Duration: #{performance.duration}
