.performance-summary.row
  = link_to performance do
    .large-8.columns
      = attachment_image_tag performance, :flyer_file
    .large-4.columns
      %p.name= performance.artist.name
      %p.duration Duration: #{performance.duration}
